.container{
    display:flex;
    margin-right:100px;
    margin-left:100px;
    margin-top:63px;
    margin-bottom:26px;
    flex-direction: column;
}
@media (max-width: 768px) {
    .container{
    margin-top:16px;
    margin-right: 20px;
    margin-left: 20px;
    }
}