.container {
    display:flex;
    margin-right:100px;
    margin-left:100px;
    margin-top:20px;
    margin-bottom:26px;
    flex-direction: column;
    max-width: 1240px;
}
@media (max-width: 768px) {
    .container {
      margin-top:27px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }