
.container {
  width: 100%;
  height: 100%;
  background: #f1f1f100;
  border: 1px solid rgb(247 3 3 / 0%);
  position: absolute;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.buttons {
  width: 46px;
  height: 79px;
  pointer-events: none;
}
.prev {
  display: flex;
  position: relative;
  padding-left: 23.36px;
  background-color: transparent;
  border-color: transparent;
}
.next {
  display: flex;
  position: relative;
  padding-right: 23.36px;
  background-color: transparent;
  border-color: transparent;
}
@media (max-width: 768px) {
.buttons {
  width: 11.67px;
  height: 19.8px;
}
}