.container {
    display:flex;
    margin-right:100px;
    margin-left:100px;
    margin-top:40px;
    height:68px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      margin-right: 20px;
      margin-left: 20px;
      margin-top:20px;
      margin-bottom:16px;
      height:47px;
    }
  }