.container{
    display:flex;
    height:34px;
    justify-content: flex-end;
    align-items: center;
}
.itemsContainer{
    display:flex;
    height:34px;
    justify-content: flex-end;
    text-decoration: none;
    gap: 57px;
    }
.decoration{
    color: var(--primary-color);
    text-decoration: none;
}
.underline{
    text-decoration-line: underline;
  }
    @media (max-width: 768px) {
        .container {
            height:17px;
        }
        .itemsContainer{
            height:17px;
            Gap: 10px;
        }
      }